.DS_Store

# Xcode
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcuserdata/
ios/DerivedData/
*.xcuserstate

# Android / Gradle
android/.gradle/
android/build/
android/app/build/
local.properties

# Editors
.idea/
.vscode/
